.info-label {
    font-size: 20;
    padding: 0 10 0 10;
    color: black;
}
.input-field {
    width: 75%;
    background-color: white;
    border-color: black;
    border-width: 2;
    padding: 10;
    margin: 10;
    text-align: left;
}

.scan-button {
    margin: 10 10 0 10;
}