<!-- <StackLayout>
    <Label text="Login page"></Label>
    <Button text="Login" (tap)="routeKeychainCard()"></Button>
    <Button text="Sign up" (tap)="routeSignup()"></Button>
</StackLayout> -->

<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="title" text="KEYCHAIN"></Label>

        <StackLayout class="input-field">
            <TextField class="input" hint="Username" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <StackLayout class="input-field">
            <TextField class="input" hint="Password" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <Button class="login_button" text="Log In" (tap)="routeKeychainCard()"></Button>
        <Button class="login_button" text="DB Testing Page" (tap)="routeDbTesting()"></Button>
    </StackLayout>
  
    <Label class="signup" text="Don't have an account? Sign Up" (tap)="routeSignup()"></Label>
</FlexboxLayout>