<ActionBar class="action-bar">
    <Label></Label>
</ActionBar>
<Page id="page">
<FlexboxLayout class="page" loaded = "pageLoaded">
<Image src="~/images/Keychain_Logo.png" width="300" class="logo"></Image>
<StackLayout class="form">
    
        <StackLayout class="input-field">
            <TextField [(ngModel)]="this.email" id ="email" class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <StackLayout class="input-field">
            <TextField  [(ngModel)]="this.password" id="password" secure="true" class="input" hint="Password" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <Button id = "login" class="btn btn-primary btn-active login-button" text="Log In" (tap)="routeKeychainCard($event)"></Button>
    
        <Label class="signup" (tap)="routeSignup()">
            <FormattedString>
                <Span text="Don't have an account? "></Span>
                <Span text="Sign Up" class="underline"></Span>
            </FormattedString>
        </Label>
</StackLayout>

</FlexboxLayout>
</Page>