<!-- <StackLayout>
    <Label text="Login page"></Label>
    <Button text="Login" (tap)="routeKeychainCard()"></Button>
    <Button text="Sign up" (tap)="routeSignup()"></Button>
</StackLayout> -->
<Page id="page" (loaded)="pageLoaded($event)">
<FlexboxLayout class="page" loaded = "pageLoaded">
    <StackLayout class="form">
        <Label class="title" text="KEYCHAIN"></Label>

        <StackLayout class="input-field">
            <TextField id ="email" class="input" hint="Username" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <StackLayout class="input-field">
            <TextField  id="password" class="input" hint="Password" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <Button id = "login" class="btn btn-primary btn-active login-button" text="Log In" (tap)="routeKeychainCard($event)"></Button>
    
        <Label class="signup" text="Don't have an account? Sign Up" (tap)="routeSignup()"></Label>
</StackLayout>

</FlexboxLayout>
</Page>