<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header" height="80">
        </StackLayout>
    
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout visibility="{{this.companyStatus ? 'collapsed' : 'visible'}}" columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/cards')" (tap)="onNavItemTap('/cards')">
                    <Label col="1" text="Keychain Cards" class="nav-item"></Label>
                </GridLayout>   

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/promotions')" (tap)="onNavItemTap('/promotions')">
                    <Label col="1" text="Promotions" class="nav-item"></Label>
                </GridLayout>  

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout visibility="{{this.companyStatus ? 'collapsed' : 'visible'}}" columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/create-card')" (tap)="onNavItemTap('/create-card')">
                    <Label col="1" text="Create Keychain Card" class="nav-item"></Label>
                </GridLayout>

                <GridLayout visibility="{{this.companyStatus ? 'visible' : 'collapsed'}}" columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/create-promotion')" (tap)="onNavItemTap('/create-promotion')">
                    <Label col="1" text="Create Promotion" class="nav-item"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/logout')" (tap)="onNavItemTap('/logout')">
                    <Label col="1" text="Logout" class="nav-item"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
