.layout {
    background: linear-gradient(to bottom, blue, lightblue, blue);
}

.title {
    font-size: 42;
    color: darkred;
    font-weight: bold;
    padding-bottom: 100%;
    padding-top: 100%;
    text-align: center;
}

.input-field {
    padding-bottom: 15%;
    padding-top: 10%;
}

.input {
    width: 75%;
    text-align: center;
    background-color: white;
    border-color: black;
    border-width: 2;
    padding: 10px 10px 10px 10px;
}

.button-layout {
    padding-bottom: 50%;
    padding-top: 50%;
}

.company-button {
    font-size: 18;
    font-weight: bold;
    text-align: center;
} 

.create-button {
    background-color: white; 
    width: 50%;
}