/* Button {
    height: 50;
    width: 200;
} */

.layout {
        background-color: white;
        vertical-align: center;
}

.input-field {
    padding-bottom: 15%;
    padding-top: 10%;
}

.input {
    width: 75%;
    text-align: center;
    background-color: white;
    border-color: black;
    border-width: 2;
    padding: 10px 10px 10px 10px;
}

.button-layout {
    padding-bottom: 50%;
    padding-top: 50%;
}

.company-button {
    font-size: 18;
    font-weight: bold;
    text-align: center;
} 

.create-button {
    width: 50%;
}