<ActionBar class="action-bar">
    <Label></Label>
</ActionBar>

<Page>
    <StackLayout class="layout">

        <StackLayout class="input-field">
            <TextField class="input" [(ngModel)]="this.email" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField class="input" [(ngModel)]= "this.password" hint="Password" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>

        <StackLayout *ngIf="isCompanyUser" class="input-field">
                <TextField class="input" [(ngModel)]= "this.company" hint="Company Name" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>

        <StackLayout class="button-field">
            <Label class="company-button underline" [text]="isCompanyUser ? 'I am not a Company User' : 'I am a Company User'" (tap)="toggleCompanyUser()"></Label>
        </StackLayout>
        
        <StackLayout class="button-field">
            <Button class="btn btn-primary btn-active create-button" text="Sign Up" (tap)="routeLogin()"></Button>
        </StackLayout>
    </StackLayout>
</Page>