<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Create Keychain Card"></Label>
</ActionBar>

<StackLayout class="p-20">
    <Button text="Scan Barcode" (tap)="onScan()" class="btn btn-primary btn-active scan-button"></Button>
    <Label text="Barcode Format:" class="info-label"></Label>
    <TextField text="Barcode Format" [(ngModel)]="this.barcodeFormat" class="input-field"></TextField>
    <Label text="Barcode ID:" class="info-label"></Label>
    <TextField hint="Barcode ID" [(ngModel)]="this.barcodeData" class="input-field"></TextField>
    <TextField hint="Keychain Card Name" [(ngModel)]="this.cardName" class="input-field"></TextField>
    <TextField hint="Location" [(ngModel)]="this.cardLocation" class="input-field"></TextField>
    <Button text="Create Card" class="btn btn-primary btn-active" (tap)="createCard()"></Button>
</StackLayout>